.auth-page-layout {
	top: 0px;
	background: #ffffff 0% 0% no-repeat padding-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100vh;
	overflow-y: hidden;
	.responsive {
		width: 100%;
	}
	.auth-page-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 40%;
		margin-left: 5%;
		height: 100vh;
	}
}
