.login-wrapper {
	@include font-size(22px, 32px);
    margin-top: 41px;
    
	.auth-row {
		margin-top: 31px;
	}

	.forgot-pwd-link {
		margin-top: 16px;
		text-align: end;
	}
	.signin-left-side-background {
		height: 100vh;
		width: 50vw;
		position: fixed;
		top:0;
		right: 0;
		bottom: 0;
	}
}
