.common-filter-wrapper {
	.common-filter-button {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		color: $dark-slate-blue;
		border-radius: 17.5px;
		border: solid 1px $pale-grey;
		background-color: $white;
		width: 7.4vw;
		height: 35px;
		outline: 0;
		margin-left: 10px;
		&:hover {
			border-radius: 17.5px;
			border: solid 1px $pale-grey;
			background-color: $dark-slate-blue;
			color: $white;
		}

		&:active {
			border-radius: 17.5px;
			border: solid 1px $dark-slate-blue;
		}
	}
}

.ant-dropdown-placement-bottomLeft {
	.filter-options {
		width: 19.6vw;
		min-height: 170px;
		border-radius: 4px;
		border: solid 1px $pale-grey;
		background-color: $white;
		padding-top: 13px;
		max-height: 250px;
		flex-direction: column;
		display: flex;

		.followers-slider {
			width: 90%;
			margin-left: 17px;
		}
		.filter-input {
			// height: 50px;
			border: solid 1px #dbdbdb;
			background-color: var(--white);
			background-color: white;
			border-radius: 0;
			outline: none;
			width: 92%;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		> li {
			padding-left: 21px;
		}

		.filter-checkbox-options {
			display: flex;
			flex-direction: column;
			margin-left: 21px;

			.ant-checkbox-wrapper {
				margin-left: 0;

				.ant-checkbox-checked {
					.ant-checkbox-inner {
						width: 16px;
						height: 16px;
						border-radius: 2px;
						border: solid 1.5px $dark-slate-blue;
						background-color: $dark-slate-blue;
					}
				}

				.ant-checkbox-inner {
					width: 16px;
					height: 16px;
					border-radius: 2px;
					border: solid 1.5px #cccccc;
					background-color: $white;
				}
			}
		}

		.ant-dropdown-menu-item-active:hover {
			background-color: #eeeeee;
		}

		.filter-options-footer-wrapper {
			bottom: 10px;
			width: 100%;
			background: white;
			.filter-footer-divider {
				margin: 12px 0;
				background-color: $pale-grey;
			}
			.filter-options-footer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-left: 22px;
				margin-right: 20px;
				margin-bottom: 10px;
				.save-btn {
					width: 70px;
					height: 30px;
					border-radius: 25px;
					font-family: AvenirMedium;
					font-size: 12px;
					font-weight: 500;
					letter-spacing: 1.29px;
					text-align: center;
					outline: 0;
					background-color: $white;
					color: $dark-slate-blue;

					&:hover {
						color: $white;
						background-color: $dark-slate-blue;
					}
				}
			}
		}
	}
}

.save-btn {
	width: 100%;
	height: 50px;
	border-radius: 25px;
	font-family: AvenirMedium;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.29px;
	text-align: center;
	outline: 0;
	background-color: $white;
	color: $dark-slate-blue;
	margin: 0 auto;
	margin-top: 5px;
	&:hover {
		color: $white;
		background-color: $dark-slate-blue;
	}
}