.discover-wrapper {
	.discover-filters-wrapper {
		background: rebeccapurple;
		margin-right: 9.2vw;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		background-color: $white;
        height: 67px;
        align-items: center;
        display: flex;
        padding-left: 1.5vw;
	}
}
