.discover-wrapper {
	margin-bottom: 20px;
	.discover-filters-wrapper {
		background: rebeccapurple;
		margin-right: 9.2vw;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		background-color: $white;
		height: 67px;
		align-items: center;
		display: flex;
		padding-left: 1.5vw;
	}

	.dicover-profiles-wrapper {
		margin-right: 9.2vw;
		margin-top: 20px;

		.profiles-row {
			width: 100%;
			max-width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 10px;
			.profile-card-wrapper {
				flex: 1;
				width: fit-content;
				margin-top: 50px;
				.profile-card {
					width: 22vw;
					border-radius: 4px;
					background-color: $white;
					box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
					.profile-image {
						display: flex;	
						justify-content: center;

						> img {
							border-radius: 100px;
							margin-top: -28px;
							margin-left: 15px;
						}
					}

					.profile-data {
						.fullname {
							margin-top: 15px;
							font-family: Montserrat;
							font-size: 16px;
							font-weight: 500;
							text-align: center;
							color: $black;
						}

						.username {
							font-family: Montserrat;
							font-size: 14px;
							font-weight: 500;
							color: $black;
							margin-top: 9px;
							text-align: center;
						}

						.metadata {
							display: flex;
							margin-top: 12px;
							justify-content: space-evenly;
							font-family: Montserrat;
							font-size: 14px;
							font-weight: 500;
							color: $black;
						}

						.top-tags {
							margin-top: 15px;
							display: flex;
							align-items: center;
							justify-content: center;

							.tag-item {
								border-radius: 12.5px;
								background-color: $pale-grey;
								font-family: Montserrat;
								font-size: 13px;
								text-align: center;
								color: $dark-slate-blue;
								padding-top: 3px;
								padding-bottom: 4px;
								padding-left: 11px;
								padding-right: 11px;
								margin-right: 5px;
								cursor: pointer;
							}

							.more-counter {
								cursor: pointer;
								font-family: Montserrat;
								font-size: 13px;
								font-weight: 500;
								text-align: center;
								color: $dark-slate-blue;
							}
						}
						.card-footer {
							display: flex;
							margin-top: 20px;
							border-top: 1px solid $pale-grey;
							justify-content: space-around;

							.footer-item {
								margin-top: 11.5px;
								.count {
									font-family: Montserrat;
									font-size: 14px;
									font-weight: 500;
									font-stretch: normal;
									font-style: normal;
									line-height: normal;
									letter-spacing: 1px;
									color: $black;
								}
								.label {
									font-family: Montserrat;
									font-size: 12px;
									font-weight: 500;
									font-stretch: normal;
									font-style: normal;
									line-height: normal;
									letter-spacing: normal;
									color: $warm-grey;
									padding-bottom: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
	> .footer {
		display: flex;
		justify-content: center;
		> .wf-btn-primary {
			width: 200px;
		}
	}
}
