.sidebar-wrapper {
	overflow: auto;
	height: 100vh;
	position: fixed;
	left: 0;
	background-color: $dark-slate-blue;

    .header-logo{
        margin-left: 1.6vw;
        margin-top: 43px;
        margin-bottom: 45px;
	}

	.siderbar-profile-section {
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $dark-slate-blue-two;
		.ant-menu-item {
			background-color: $dark-slate-blue;
		}
		.ant-menu {
			-webkit-box-shadow: unset;
			 box-shadow: unset;
		}
	}

	.siderbar-username {
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		margin-left: 16px;
		color: $white;
		display: inline-block;
    	padding-top: 5px;
	}

	.user-menu-item {
		background-color: $dark-slate-blue;
		padding-left: 24px;
		height: 50px;
		align-items: center;
		display: flex;
		cursor: pointer;
	}

	.user-menu {
		background-color: $warm-grey;
		width: 20vw !important;
		min-width: 150px;
	}
	
	.profile-submenu-item {
		padding-left: 0px !important;
	}

	.arrow-down-angle {
		margin-left: 5px;
		margin-top: 3px;
	}

	.profile-submenu-overlay {
		min-width: 20vw;
	}

	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background-color: $dark-slate-blue;
	}

	.current{ // badge text color 
		color: white;
	}
	.ant-menu-dark {
		background-color: $dark-slate-blue;
		padding-left: 1.6vw;
		padding-right: 1.6vw;
		.user-menu-wrapper{
			height: 51px;
			border-radius: 4px;
			margin: 0 auto;
			background-color: #152d52;
			padding-top: 10px;
			padding-left: 20px;
		}

		.ant-menu-item {
			height: 50px;
			align-items: center;
			display: flex;
			color: $white;
		}
		.ant-menu-item-selected {
			background-color: $light-navy-blue;
			padding-left: 0px;
		}
		.ant-menu-item,
		.ant-menu-item-selected {
			.nav-text {
				margin-left: 1.3vw;
				font-family: Montserrat;
				font-size: 16px;
				font-weight: 300;
				line-height: 3.75;
				letter-spacing: normal;
				color: $white;
			}
		}
	}
}
