.influencer-profile {
	margin-right: 3.2vw;
	.header {
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		background-color: #ffffff;
		align-items: center;
		display: flex;
		padding-left: 1.5vw;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 57px;
		.img-wrapper {
			.img {
				border-radius: 50px;
				width: 94px;
				height: 94px;
				border: 4px solid $dark-slate-blue;
			}
		}
		.user-info {
			margin-left: 20px;
			width: 60%;
			.personal {
				.username {
					color: $dark-slate-blue;
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 500;
				}

				.anticon-environment {
					margin-left: 10px;
					color: $warm-grey-two;
					margin-left: 10px;
					margin-right: -3px;
				}

				.country {
					font-family: Montserrat;
					font-size: 16px;
					font-weight: 500;
					color: $dark-slate-blue;
				}
			}

			.biography {
				font-family: "AvenirMedium";
				font-size: 14px;
				font-weight: 500;
				margin-top: 8px;
			}
		}

		.header-stats {
			display: flex;
			width: 30%;
			justify-content: space-evenly;
			.stats-item {
				.label {
					font-family: AvenirMedium;
					font-size: 18px;
					font-weight: 500;
					color: $warm-grey-two;
				}

				.value {
					font-family: Montserrat;
					font-size: 24px;
					font-weight: 500;
					letter-spacing: 1.5;
					color: $black;
				}
			}
		}
	}

	.profile-full-row {
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		background-color: $white;
		.chart-header {
			padding-top: 56px;
			padding-left: 50px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.c-header {
				font-family: Montserrat;
				font-size: 24px;
				font-weight: 500;
				color: $black;
			}

			.filter-buttons {
				margin-right: 3.6vw;
				width: 14.2vw;
				display: flex;
				justify-content: space-evenly;
			}
		}

		.charts-area-wrapper {
			display: flex;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 20px;
			.chart-area {
				width: 50%;
			}
		}
	}

	.profile-half-row {
		width: 49.5%;
		padding-bottom: 20px;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		background-color: $white;

		.half-chart-header {
			padding-top: 30px;
			padding-left: 30px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.h-header {
				font-family: Montserrat;
				font-size: 24px;
				font-weight: 500;
				color: $black;
			}
		}

		.aqs-description {
			margin-top: 20px;
			padding-left: 30px;
			padding-right: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: normal;
		}
		.aqs-area-wrapper {
			display: flex;
			margin-left: 30px;
			margin-top: 20px;
			.aqs-area {
				margin-bottom: auto;
				flex-shrink: 0;
				background: #fff;
				box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
				border-radius: 6px;
				overflow: hidden;
				.aqs-score-area {
					height: 100px;
					width: 140px;
					color: #fff;
					font-weight: 600;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					line-height: 1.1;
					background-color: #289155;
					.aqs-score-value {
						font-size: 40px;
					}

					.aqs-out-of {
						font-size: 16px;
						color: rgba(255, 255, 255, 0.56);
					}
				}
				.aqs-sub {
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					color: #000;
					text-transform: capitalize;
				}
			}
			.aqs-list {
				margin-left: 20px;
				.aqs-desc-item {
					display: flex;
					align-items: center;
					font-size: 16px;
					padding: 8px 60px 8px 0;
					.aqs-desc-mark {
						display: block;
						margin-right: 16px;
						margin-top: 4px;
						width: 14px;
						height: 14px;
						border-radius: 50%;
						flex-shrink: 0;
						align-self: flex-start;
						background-color: #289155;
					}
				}
			}
		}
		.general-area {
			display: flex;
			justify-content: space-evenly;
			margin-top: 20px;
			.g-area-item {
				.ga-label {
					font-family: AvenirMedium;
					font-size: 16px;
					font-weight: 500;
					color: $warm-grey-two;
				}

				.ga-value {
					font-family: Montserrat;
					font-size: 20px;
					font-weight: 500;
					letter-spacing: 1.5;
					color: $black;

					> span {
						font-family: Montserrat;
						font-size: 12px;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: normal;
						letter-spacing: normal;
						text-align: center;
						color: $dark-slate-blue;
					}
				}
			}
		}
	}
}
