@mixin influencer-details-styles {
	
	> .profile-image-container {
		position: relative;

		> img {
			display: inline-block;
			background-size: cover;
			border-radius: 4px;
			margin: 6px 5px 11px 3px;
			height: 2.5em;
			width: 2.5em;
			align-self: center;
		}
	}

	> .influencer-details {
		display: flex;
		flex-direction: row;
		text-align: left;
		color: #03739e;
		justify-content: space-between;
		width: 70%;

		> .influencer-info {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			box-sizing: border-box;
			padding: 2.4px 0;
			font-size: 1rem;
			width: 107px;
			font-size: 14px;
			> .influencer-name {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 100%;
				color: #181320;
			}

			> .influencer-data {
				display: flex;

				> .status {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 80%;
					color: #181320;
					margin-left: 4px;
					background-color: #1c3a6a;
					color: white;
					padding-left: 4px;
					border-radius: 20px;
				}

				> .pending {
					background-color: rgb(111, 111, 111);
				}

				> .accepted {
					background-color: rgb(49, 126, 171);
				}

				> .completed {
					background-color: rgb(49, 126, 171);
				}
			}
		}
	}
}

.campaign-view {
	> .header {
		display: flex;
		justify-content: center;
		padding-right: 20px;
		padding-bottom: 10px;
		margin-top: 30px;
		> .invitation {
			display: flex;
			flex-direction: column;
			align-items: center;
			> .wf-btn-primary {
				margin-top: 0px;
				font-size: 18px;
			}
	
			> .wf-btn-primary:hover {
				color: #1c3a6a;
			}
		}
		

		> .campaign-info {
			margin-left: 20px;
			display: flex;
			width: 100%;
			font-family: Montserrat;
			color: $dark-slate-blue;
			font-size: 1rem;
			margin-top: 15px;
			> .date {
				margin-left: 2vw;
				width: 60%;
				> span {
					font-family: Montserrat;
					color: $dark-slate-blue;
					font-size: 1rem;
					margin-left: 5px;
					margin-right: 5px;
				}
				.label {
					font-weight: 600;
				}

				.status-pending {
					color: orange;
				}

				.status-paused,
				.status-cancelled,
				.status-ended {
					color: red;
				}

				.status-in_progress {
					color: seagreen;
				}

				.status-completed {
					color: green;
				}
			}
			.label {
				font-weight: 600;
				margin-right: 5px;
			}
		}
	}
	> .overview {
		display: flex;
		margin-bottom: 20px;
		flex-wrap: wrap;
		width: 100%;
		> .summary {
			display: flex;
			flex-wrap: wrap;
			min-width: 46%;
			> .summary-item {
				width: 200px;
				padding: 20px;
				border-radius: 2px;
				background-color: #fdfdfd;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				margin-right: 10px;

				> .title {
					font-family: AvenirMedium;
					font-weight: 600;
					color: $dark-slate-blue;
					font-size: 1.5625rem;
					line-height: 1.875rem;
				}

				> .subtitle {
					font-size: 1.2rem;
					min-height: 50px;
					margin-top: 5px;
				}

				> .container {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					> .value {
						font-size: 2.2rem;
						font-weight: 600;
						line-height: 3rem;
						color: #61bd50;
					}

					> .summary-footer {
						font-family: AvenirMedium;
						margin-top: 25px;
						font-size: 0.87rem;
						font-weight: 400;
						line-height: 1.0625rem;
						min-height: 20px;
						color: #878787;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;

						> div {
							display: flex;
							justify-content: center;
							flex-direction: column;

							> div {
								text-align: center;
							}
						}
					}
				}
			}
		}

		> .influencers-summary {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			flex-grow: 1;
			padding: 15px;
			background: #fdfdfd;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
			width: 50%;
			min-width: 50%;
			margin-right: 1%;
			> .influencers-details {
				display: flex;
				flex-shrink: 0;
				height: 100%;
				flex-direction: column;
				justify-content: space-between;

				> .details-headline {
					> .top-headline {
						font-weight: 700;
						font-family: AvenirMedium;
						font-weight: 600;
						color: #1c3a6a;
						font-size: 1.5625rem;
						line-height: 1.875rem;
					}

					> .bottom-headline {
						font-size: 1.2rem;
						min-height: 50px;
						margin-top: 5px;
						font-weight: 100;
					}
				}

				> .extra-details {
					text-align: left;
					font-size: 2.5rem;
					font-weight: 100;
					color: #1dafe7;
				}
			}

			> .influencers {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: -22px;
				display: flex;
				flex-wrap: wrap;
				margin-bottom: -22px;
				width: 100%;
				margin-left: 10px;
				> .participating-influencer-preview {
					position: relative;
					display: flex;
					flex-direction: row;
					width: 150px;
					max-width: 100%;
					margin-bottom: 5px;
					@include influencer-details-styles()
				}
			}
		}

		@media only screen and (max-width: 1638px) {
			> .influencers-summary {
				margin-top: 30px;
			}
		}
	}

	> .campaign-tabs-container {
		font-family: AvenirMedium;
		margin-top: 30px;
		color: #181320;
		padding-right: 10px;
		margin-left: -68px;
		.ant-tabs-tab {
			font-family: AvenirMedium;
			font-size: 26px;
			font-weight: 600;
			font-size: 1.5625rem;
			line-height: 1.875rem;
			font-size: 22px;
		}
		.ant-tabs-tab:hover {
			color: #4e4e4e;
		}

		.ant-tabs-tab-active {
			color: #1c3a6a !important;
		}

		.ant-tabs-content {
			background-color: #fdfdfd;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
			margin-left: 1px;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			padding: 20px;

			.analytics-tab {
				> div {
					display: flex;
					width: 100%;
					margin-top: 20px;
					> div {
						box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.1);

						> .title {
							font-family: AvenirMedium;
							font-weight: 600;
							color: #1c3a6a;
							font-size: 1.3rem;
							line-height: 1.875rem;
							margin: 10px;
						}
					}
				}
			}
		}
	}
}


.invite-by-email{
	display: flex;
	@include influencer-details-styles();

	> .influencer-details{
		width: 40%;

		> .influencer-info{
			width: auto;
		}
	}

	>.email-input{
		width: 50%;
		margin-top: 10px;
	}
}