.btn-link {
	font-family: AvenirMedium;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $bright-sky-blue;
	text-decoration: underline;

	&:hover {
		color: $bright-sky-blue;
	}

	&.black {
		font-size: 12px;
		font-weight: 500;
		color: $black;
	}
}
