@import "~antd/dist/antd.css";
@import "theme";

@import "./layout/header";
@import "./layout/layout";
@import "./layout/sidebar";

@import "./form/input";
@import "./form/button";
@import "./form/link";

@import "auth/authWrapper";
@import "auth/login";

@import "./userProfile/profile";

@import "./wfluence/discover/discover";
@import "./wfluence/profile/profile";

@import "./wfluence/campaign/campaigns";
@import "./wfluence/campaign/newCampaign";
@import "./wfluence/campaign/campaignView";
@import "./wfluence/campaign/campaignOffer";

@import "./wfluence/socialIntegration/instagram/connect";


@import "./core/filter/commonFilters";
@import "./charts/chartButton";

@font-face {
	font-family: "AvenirMedium";
	src: url("../fonts/AvenirLT-Medium.eot");
	src: url("../fonts/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirLT-Medium.woff") format("woff"),
		url("../fonts/AvenirLT-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirRegualr";
	src: url("../fonts/AvenirLT-Black.eot");
	src: url("../fonts/AvenirLT-Black.eot") format("embedded-opentype"),
		url("../fonts/AvenirLT-Black.woff") format("woff"),
		url("../fonts/AvenirLT-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body,
#root {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Open Sans", sans-serif;
}

html {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	display: flex;
    flex-direction: column;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

// .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
// .ant-skeleton.ant-skeleton-active
// 	.ant-skeleton-content
// 	.ant-skeleton-paragraph
// 	> li {
// 	background: -webkit-gradient(
// 		linear,
// 		left top,
// 		right top,
// 		color-stop(25%, #a32222),
// 		color-stop(37%, #a31212),
// 		color-stop(63%, #780d0d)
// 	);
// 	background: linear-gradient(90deg, #c6cbd9 25%, #e6e6e6 37%, #f2f2f2 63%);
// 	background-size: 400% 100%;
// 	-webkit-animation: ant-skeleton-loading 1.4s ease infinite;
// 	animation: ant-skeleton-loading 1.4s ease infinite;
// }

// .ant-skeleton.ant-skeleton-active .ant-skeleton-avatar {
// 	background: -webkit-gradient(
// 		linear,
// 		left top,
// 		right top,
// 		color-stop(25%, #f2f2f2),
// 		color-stop(37%, #e6e6e6),
// 		color-stop(63%, #f2f2f2)
// 	);
// 	background: linear-gradient(90deg,  #c6cbd9 25%, #e6e6e6 37%, #f2f2f2 63%);
// 	background-size: 400% 100%;
// 	-webkit-animation: ant-skeleton-loading 1.4s ease infinite;
// 	animation: ant-skeleton-loading 1.4s ease infinite;
// }


.pointer {
	cursor: pointer;
}

.underline{
	text-decoration: underline;
}


.influencers-table{    
	width: 60%;
	margin: 0 auto;
	margin-top: 100px;

	.ant-table-wrapper{
		background: whitesmoke;

		.ant-table-tbody{
			font-family: AvenirMedium;
			font-weight: 500;
			color: black;

		}

		.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
			background: rgb(222, 222, 222);
			transition: unset !important;
			-webkit-transition: unset !important;
		  }
	}

	.search-title{    
		font-family: AvenirMedium;
		@include font-size(12px, 24px);
		font-weight: 500;
		color: #001529;
		margin-bottom: 15px;
		font-weight: 600;
	}
}


.ant-drawer.post-popover {
	.ant-drawer-content-wrapper {
	  width: 450px !important;
	  max-width: 100vw !important;
	  .ant-drawer-body {
		padding: 0;
	  }
	}
  
	.ant-modal-header,
	.ant-modal-footer {
	  display: none;
	}
	.ant-modal-content {
	  height: 100%;
	  border-radius: 0;
	  overflow-y: scroll;
	}
  }
  
  .post-details {
	padding: 0 38px;
	.profile-header {
	  padding: 15px 25px 15px 60px;
	  position: relative;
	  margin-bottom: 5px;
	  .profile-img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 1px solid lightgray;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		left: 5px;
		top: 15px;
	  }
	  .name {
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-top: 4px;
	  }
	  .link {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #000;
		span {
		  color: gray;
		}
	  }
	  .close-btn {
		position: absolute;
		right: 2px;
		top: 17px;
		font-size: 22px;
	  }
	}
  
	.post-img-container {
	  width: 100%;
	  padding-top: 100%;
	  position: relative;
	  .post-img {
		border-radius: 4px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		border: 1px solid #d3d3d3;
	  }
	}
	.interactions-box {
	  overflow: hidden;
	  padding: 10px 20px;
	  .interaction {
		width: 45%;
		float: left;
		div {
		  display: inline-block;
		  vertical-align: top;
		  margin-right: 12px;
		  .gray {
			color: #b0b0b0;
		  }
		  .bold {
			color: #000;
			font-weight: bold;
			display: inline-block;
			margin-bottom: -5px;
			font-size: 20px;
		  }
		  i {
			font-size: 26px;
		  }
		}
	  }
	}
	.post-description {
	  margin-bottom: 20px;
	}
	.post-tags {
	  margin-bottom: 30px;
	  span {
		display: inline-block;
		margin-bottom: 10px;
		padding: 3px 10px;
		// background-color: #f2f2f2;
		margin-right: 5px;
		border-radius: 25px;
		color: gray;
	  }
	}
  }