@import "~antd/dist/antd.css";
@import "theme";

@import "./form/input";
@import "./form/button";
@import "./form/link";

@import "auth/authWrapper";
@import "auth/login";

@import "./layout/layout";
@import "./layout/sidebar";

@font-face {
	font-family: "AvenirMedium";
	src: url("../fonts/AvenirLT-Medium.eot");
	src: url("../fonts/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirLT-Medium.woff") format("woff"),
		url("../fonts/AvenirLT-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirRegualr";
	src: url("../fonts/AvenirLT-Black.eot");
	src: url("../fonts/AvenirLT-Black.eot") format("embedded-opentype"),
		url("../fonts/AvenirLT-Black.woff") format("woff"),
		url("../fonts/AvenirLT-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body,
#root {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Open Sans", sans-serif;
}

html {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
