@import "~antd/dist/antd.css";
@import "theme";

@import "./form/input";
@import "./form/button";
@import "./form/link";

@import "auth/authWrapper";
@import "auth/login";

@import "./layout/layout";
@import "./layout/sidebar";

@import "./wfluence/discover/discover";
@import "./wfluence/profile/profile";

@import "./wfluence/campaign/campaigns";
@import "./wfluence/campaign/newCampaign";
@import "./wfluence/campaign/campaignView";

@import "./core/filter/commonFilters";
@import "./charts/chartButton";

@font-face {
	font-family: "AvenirMedium";
	src: url("../fonts/AvenirLT-Medium.eot");
	src: url("../fonts/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirLT-Medium.woff") format("woff"),
		url("../fonts/AvenirLT-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AvenirRegualr";
	src: url("../fonts/AvenirLT-Black.eot");
	src: url("../fonts/AvenirLT-Black.eot") format("embedded-opentype"),
		url("../fonts/AvenirLT-Black.woff") format("woff"),
		url("../fonts/AvenirLT-Black.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body,
#root {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", "Open Sans", sans-serif;
}

html {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
.ant-skeleton.ant-skeleton-active
	.ant-skeleton-content
	.ant-skeleton-paragraph
	> li {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(25%, #a32222),
		color-stop(37%, #a31212),
		color-stop(63%, #780d0d)
	);
	background: linear-gradient(90deg, #c6cbd9 25%, #e6e6e6 37%, #f2f2f2 63%);
	background-size: 400% 100%;
	-webkit-animation: ant-skeleton-loading 1.4s ease infinite;
	animation: ant-skeleton-loading 1.4s ease infinite;
}

.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(25%, #f2f2f2),
		color-stop(37%, #e6e6e6),
		color-stop(63%, #f2f2f2)
	);
	background: linear-gradient(90deg,  #c6cbd9 25%, #e6e6e6 37%, #f2f2f2 63%);
	background-size: 400% 100%;
	-webkit-animation: ant-skeleton-loading 1.4s ease infinite;
	animation: ant-skeleton-loading 1.4s ease infinite;
}
